body {
 width: 80%;
 margin: 0 auto;
}

button {
 width: 220px;
 height: 60px;;
 font-size: 26px;
 border: 0;
 margin-top: 20px;
 margin-left: 20px;
 border-radius: 10px;
}
button:hover {
 color: white;
 background-color: rgba(0, 0, 0, 0.8);
}
button[type="submit"] {
 width: 350px;
}
input {
 font-size: 26px;
 border-radius: 10px;
 padding: 10px;
 margin-left: 10px;
 border: 1px solid black;
}
p {
 margin-left: 50px;
 font-size: 28px;
}
div {
 margin-bottom: 20px;
}
.squads {
 display: inline-flex;
 width: 500px;
 margin-top: 20px;
 justify-content: space-between;
}
.squads div{
 width: 200px;
 height: 200px;
 border-radius: 20px;

}
ul {
 list-style: none;
}
ul>li {
 background-color: dimgrey;
 min-height: 40px;
 max-height: 50px;
 margin-bottom: 5px;
 width: 250px;
 color: white;
 font-size: 25px;
 text-align: center;
 border-radius: 10px;
 padding-top: 8px;
}
.text-area {
 display: flex;
 flex-direction: column;
}
textarea {
 margin-left: 20px;
 margin-top: 10px;
 width: 400px;
 font-size: 20px;
 padding: 10px;
 border-radius: 8px;
}
#first-form {
 display: flex;
 flex-direction: column;
}
#first-form label {
 margin-bottom: 15px;
}
#calc #keyboard .row .btn {
 width: 60px;
}

.container {
 margin-top: 100px;
 margin-bottom: 150px;
}
#display {
 color: white;
 background-color: #7c7c7c;
 width: 420px;
 border-radius: 20px;
 padding: 10px;
 text-align: right;
}
